@model TestIdentityApp.Data.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <!-- 
  - primary meta tag
-->
    <title>EduWeb - The Best Program to Enroll for Exchange</title>
    <meta name="title" content="EduWeb - The Best Program to Enroll for Exchange">
    <meta name="description" content="This is an education html template made by codewithsadee">

    <!-- 
      - favicon
    -->
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">

    <!-- 
      - custom css link
    -->
    <link rel="stylesheet" href="/css/site.css">

    <!-- 
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Poppins:wght@400;500&display=swap"
        rel="stylesheet">

    <!-- 
      - preload images
    -->
    <link rel="preload" as="image" href="/images/hero-bg.svg">
    <link rel="preload" as="image" href="/images/hero-banner-1.jpg">
    <link rel="preload" as="image" href="/images/hero-banner-2.jpg">
    <link rel="preload" as="image" href="/images/hero-shape-1.svg">
    <link rel="preload" as="image" href="/images/hero-shape-2.png">
  
</head>

<body id="top">

<!-- 
  - #HEADER
-->

<
<main>
    <article>

        <!-- 
          - #HERO
        -->

        <div class="full-width-background" style="background-image: url('@Url.Content("/images/hero-bg.svg")'); background-size: cover; background-position: center;">
            <section class="section hero has-bg-image" id="home" aria-label="home">

                <div class="container">

                    <div class="hero-content">
                        <h1 class="h1 section-title">
                            4-A  <span class="span">Etkileşim</span> Platformu
                        </h1>
                        <p class="hero-text">
                            Ödevler, hikayeler ve daha fazlası...
                        </p>
                        @if (!(User.Identity.IsAuthenticated))
                        {
                            <a href="/Identity/Account/Login" class="btn has-before">
                                <span class="span">Başla</span>
                                <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                            </a>
                        }
                        


                    </div>

                    <figure class="hero-banner">
                        <div class="img-holder one" style="--width: 270; --height: 300;">
                            <img src="/images/hero-banner-1.jpg" width="270" height="300" alt="hero banner" class="img-cover">
                        </div>
                        <div class="img-holder two" style="--width: 240; --height: 370;">
                            <img src="/images/hero-banner-2.jpg" width="240" height="370" alt="hero banner" class="img-cover">
                        </div>
                        
                        <img src="/images/hero-shape-2.png" width="622" height="551" alt="" class="shape hero-shape-2">
                    </figure>

                </div>
            </section>
        </div>





        <!-- 
          - #CATEGORY
        -->

        <section class="section category full-width-section" aria-label="category">
            <div class="full-width-background">
            <div class="container">

                <p class="section-subtitle">Dersler</p>

                <h2 class="h2 section-title">
                     <span class="span">4-A </span> Ders Listesi
                </h2>

                <p class="section-text">
                  
                </p>

                <ul class="grid-list">

                    <li>
                        <div class="category-card" style="--color: 170, 75%, 41%">

                            <div class="card-icon">
                                <img src="/images/category-1.svg" width="40" height="40" loading="lazy"
                                     alt="Online Degree Programs" class="img">
                            </div>

                            <h3 class="h3">
                                <a href="#" class="card-title">Matematik</a>
                            </h3>

                            <p class="card-text">
                               
                            </p>

                            <span class="card-badge"></span>

                        </div>
                    </li>

                    <li>
                        <div class="category-card" style="--color: 351, 83%, 61%">

                            <div class="card-icon">
                                <img src="/images/category-2.svg" width="40" height="40" loading="lazy"
                                     alt="Non-Degree Programs" class="img">
                            </div>

                            <h3 class="h3">
                                <a href="#" class="card-title">Türkçe</a>
                            </h3>

                            <p class="card-text">
                              
                            </p>

                            <span class="card-badge"></span>

                        </div>
                    </li>

                    <li>
                        <div class="category-card" style="--color: 229, 75%, 58%">

                            <div class="card-icon">
                                <img src="/images/category-3.svg" width="40" height="40" loading="lazy"
                                     alt="Off-Campus Programs" class="img">
                            </div>

                            <h3 class="h3">
                                <a href="#" class="card-title">Fen Bilimleri</a>
                            </h3>

                            <p class="card-text">
                               
                            </p>

                            <span class="card-badge"></span>

                        </div>
                    </li>

                    <li>
                        <div class="category-card" style="--color: 42, 94%, 55%">

                            <div class="card-icon">
                                <img src="/images/category-4.svg" width="40" height="40" loading="lazy"
                                     alt="Hybrid Distance Programs" class="img">
                            </div>

                            <h3 class="h3">
                                <a href="#" class="card-title">Sosyal Bilgiler</a>
                            </h3>

                            <p class="card-text">
                               
                            </p>

                            <span class="card-badge"></span>

                        </div>
                    </li>

                </ul>

            </div>
            </div>
        </section>





        <!-- 
          - #ABOUT
        -->

        <section class="section about full-width-section" id="about" aria-label="about">
            <div class="full-width-background">
            <div class="container">

                <figure class="about-banner">

                    <div class="img-holder" style="--width: 520; --height: 370;">
                        <img src="/images/about-banner.jpg" width="520" height="370" loading="lazy" alt="about banner"
                             class="img-cover">
                    </div>

                   
                    <img src="/images/about-shape-2.svg" width="250" height="250" loading="lazy" alt=""
                         class="shape about-shape-2">

                    <img src="/images/about-shape-3.png" width="722" height="528" loading="lazy" alt=""
                         class="shape about-shape-3">

                </figure>

                <div class="about-content">

                    <p class="section-subtitle">Hikayeler</p>

                    <h2 class="h2 section-title">
                         <span class="span">En Güzel Hikayen</span> 
                    </h2>

                    <p class="section-text">
                        Hikayeni yüklemenin tam zamanı..
                        
                       
                    </p>
                    @if (Model?.Roles != null && Model.Roles.Contains("Öğrenci"))
                    {
                        <a asp-area="Öğrenci" asp-controller="HikayeÖzeti" asp-action="Create" class="btn has-before">
                        <span class="span">Hikaye Yükle</span>
                        <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                    </a>
                    }


                    <img src="/images/about-shape-4.svg" width="100" height="100" loading="lazy" alt=""
                         class="shape about-shape-4">

                </div>

            </div>
            </div>
        </section>





        <!-- 
          - #COURSE
        -->

        <section class="section course full-width-section" id="courses" aria-label="course">
            <div class="full-width-background">
            <div class="container">

                <p class="section-subtitle">Quizler</p>

                <h2 class="h2 section-title">QUİZ EKRANI</h2>

                <ul class="grid-list">

                    <li>
                        <div class="course-card">

                            <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                                <img src="/images/course-1.jpg" width="370" height="220" loading="lazy"
                                     alt="Build Responsive Real- World Websites with HTML and CSS" class="img-cover">
                            </figure>

                            
                                
                            
                            <div class="card-content">

                                

                                <h3 class="h3">
                                    <a href="#" class="card-title">Matematik Quizleri</a>
                                </h3>

                                <div class="wrapper">

                                    

                                </div>

                               

                                

                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="course-card">

                            <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                                <img src="/images/course-2.jpg" width="370" height="220" loading="lazy"
                                     alt="Java Programming Masterclass for Software Developers" class="img-cover">
                            </figure>

                           
                           

                             
                            

                            <div class="card-content">

                               

                                <h3 class="h3">
                                    <a href="#" class="card-title">Türkçe Quizleri</a>
                                </h3>

                                

                                

                             

                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="course-card">

                            <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                                <img src="/images/course-3.jpg" width="370" height="220" loading="lazy"
                                     alt="The Complete Camtasia Course for Content Creators" class="img-cover">
                            </figure>








                            <div class="card-content">



                                <h3 class="h3">
                                    <a href="#" class="card-title">Fen Bilimleri Quizleri</a>
                                </h3>







                            </div>

                        </div>
                    </li>

                  
                </ul>

                <a href="#" class="btn has-before">
                    <span class="span">Diğer Quizleri Keşfet</span>

                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                </a>

            </div>
            </div>
        </section>





        <!-- 
          - #VIDEO
        -->

        <section class="video has-bg-image full-width-section" aria-label="video"
     
            
                 style="background-image: url('@Url.Content("/images/video-bg.svg")')">
            <div class="full-width-background">

            <div class="container">

                <div class="video-card">

                    <div class="video-banner img-holder has-after" style="--width: ; --height: ;">
                        <img src="/images/video-banner.jpg" width="970" height="550" loading="lazy" alt="video banner"
                             class="img-cover">

                       
                    </div>

                    <img src="/images/video-shape-1.png" width="1089" height="605" loading="lazy" alt=""
                         class="shape video-shape-1">

                    <img src="/images/video-shape-2.png" width="158" height="174" loading="lazy" alt=""
                         class="shape video-shape-2">

                </div>

            </div>
            </div>
        </section>





        <!-- 
          - #STATE
        -->

        <section class="section stats full-width-section" aria-label="stats">
            <div class="full-width-background">
            <div class="container">

                <ul class="grid-list">

                    <li>
                        <div class="stats-card" style="--color: 170, 75%, 41%">
                            <h3 class="card-title">1.</h3>

                            <p class="card-text">İbrahim Bicav</p>
                        </div>
                    </li>

                    <li>
                        <div class="stats-card" style="--color: 351, 83%, 61%">
                            <h3 class="card-title">2.</h3>

                            <p class="card-text">Öykü Bicav</p>
                        </div>
                    </li>

                    <li>
                        <div class="stats-card" style="--color: 260, 100%, 67%">
                            <h3 class="card-title">3.</h3>

                            <p class="card-text">Alperen Bicav</p>
                        </div>
                    </li>

                    <li>
                        <div class="stats-card" style="--color: 42, 94%, 55%">
                            <h3 class="card-title">4.</h3>

                            <p class="card-text">Azra Bicav</p>
                        </div>
                    </li>

                </ul>

            </div>
            </div>
            
        </section>





        <!-- 
          - #BLOG
        -->

        <section class="section blog has-bg-image full-width-section" id="blog" aria-label="blog"


                 style="background-image: url('@Url.Content("/images/blog-bg.svg")')">
            <div class="full-width-background">

            <div class="container">

                <p class="section-subtitle">Yazılar</p>

                <h2 class="h2 section-title">Okuma Vakti</h2>

                <ul class="grid-list">

                    <li>
                        <div class="blog-card">

                            <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                                <img src="/images/blog-1.jpg" width="370" height="370" loading="lazy"
                                     alt="Çocuğuna İyi Davran" class="img-cover">
                            </figure>

                            <div class="card-content">

                                <a href="#" class="card-btn" aria-label="read more">
                                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                                </a>

                                <a href="#" class="card-subtitle">Veli</a>

                                <h3 class="h3">
                                    <a href="#" class="card-title">Çocuğuna İyi Davran</a>
                                </h3>

                                <ul class="card-meta-list">

                                    <li class="card-meta-item">
                                        <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                                        <span class="span">25.09.2024</span>
                                    </li>

                                  

                                </ul>

                                <p class="card-text">
                                    Çocuğunla ilişkini geliştir.
                                </p>

                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="blog-card">

                            <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                                <img src="/images/blog-2.jpg" width="370" height="370" loading="lazy"
                                     alt="Ödevlerini zamanında yap" class="img-cover">
                            </figure>

                            <div class="card-content">

                                <a href="#" class="card-btn" aria-label="read more">
                                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                                </a>

                                <a href="#" class="card-subtitle">Öğrenci</a>

                                <h3 class="h3">
                                    <a href="#" class="card-title">Ödevlerini Zamanında Yap</a>
                                </h3>

                                <ul class="card-meta-list">

                                    <li class="card-meta-item">
                                        <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                                        <span class="span">25.09.2024</span>
                                    </li>

                                                                 </ul>

                                <p class="card-text">
                                   Öğrenmek için vakit ayır.
                                </p>

                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="blog-card">

                            <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                                <img src="/images/blog-3.jpg" width="370" height="370" loading="lazy"
                                     alt="Arkadaşlarına İyi Davran" class="img-cover">
                            </figure>

                            <div class="card-content">

                                <a href="#" class="card-btn" aria-label="read more">
                                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                                </a>

                                <a href="#" class="card-subtitle">Öğrenci</a>

                                <h3 class="h3">
                                    <a href="#" class="card-title">Arkadaşlarına İyi Davran</a>
                                </h3>

                                <ul class="card-meta-list">

                                    <li class="card-meta-item">
                                        <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                                        <span class="span">25.09.2024</span>
                                    </li>

                                    

                                </ul>

                                <p class="card-text">
                                   İyi davranışlar geliştir.
                                </p>

                            </div>

                        </div>
                    </li>

                </ul>

                <img src="/images/blog-shape.png" width="186" height="186" loading="lazy" alt=""
                     class="shape blog-shape">

            </div>
            </div>
        </section>

    </article>
</main>





<!-- 
  - #FOOTER
-->

<footer class="footer full-width-section" style=url(@Url.Content("/images/hero-bg.svg")>
    <div class="full-width-background">



    <div class="footer-top section">
        <div class="container grid-list">

            <div class="footer-brand">

                <a href="#" class="logo">
                  
                </a>

                <p class="footer-brand-text">
                   Eğitim Platformu
                </p>

                <div class="wrapper">
                    <span class="span">Adres:</span>

                    <address class="address">Halil Atilla İlkokulu</address>
                </div>

               

                <div class="wrapper">
                    <span class="span">Email:</span>

                    <a href="mailto:a_bicav@hotmail.com" class="footer-link">a_bicav@hotmail.com</a>
                </div>

            </div>

            <ul class="footer-list">

                <li>
                    <p class="footer-list-title">Online Platform</p>
                </li>

                <li>
                    <a href="#" class="footer-link">Hakkında</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Dersler</a>
                </li>

              

                       </ul>

            <ul class="footer-list">

                <li>
                    <p class="footer-list-title">Linkler</p>
                </li>

               
                <li>
                    <a href="#" class="footer-link">Giriş Yap/Kayıt Ol</a>
                </li>

               

            </ul>

            <div class="footer-list">

                <p class="footer-list-title">Contacts</p>

                <p class="footer-list-text">
                    Mailinizi girerek abone olun.
                </p>

                <form action="" class="newsletter-form">
                    <input type="email" name="email_address" placeholder="Mail Adresin" required class="input-field">

                    <button type="submit" class="btn has-before">
                        <span class="span">Abone Ol</span>

                        <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                    </button>
                </form>

                <ul class="social-list">

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a>
                    </li>

                </ul>

            </div>

        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">

            <p class="copyright">
                Copyright 2024 All Rights Reserved by <a href="#" class="copyright-link">öykübicav</a>
            </p>

        </div>
    </div>
    </div>

</footer>





<!-- 
  - #BACK TO TOP
-->

<a href="#top" class="back-top-btn" aria-label="back top top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
</a>





<!-- 
  - custom js link
-->
<script src="/js/script.js" defer></script>

<!-- 
  - ionicon link
-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
