@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Şifreni Unuttun mu?";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>@ViewData["Title"] | Ludiflex</title>
    <style>
        body {
            background-color: rgba(245,242,235,255);  /* Background color, adjust as needed */
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            box-sizing: border-box;
        }
.input-field{
background-color: rgba(255, 255, 255)}
        .submit-btn {
            background-color: var(--kappel); /* Button color */
            color: white;
            border: none;
            padding: 15px 20px; /* Adjusted padding for a larger button */
            border-radius: 5px;
            cursor: pointer;
            width: 100%; /* Full width of the box */
        }
        .container{
        display: flex;
        justify-content: center;
        align-items: center;}
      </style>
</head>
<body>
<div class="login-box">
    <div class="login-header">
        <header>@ViewData["Title"]</header>
        <h2>Mail adresini gir.</h2>
    </div>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="input-box">
            <input asp-for="Input.Email" class="input-field" autocomplete="username" aria-required="true" placeholder="isim@hotmail.com" required>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="input-submit">
            <button type="submit" class="submit-btn" id="reset-password-submit"></button>
            <label for="reset-password-submit">Şifreyi Sıfırla</label>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</body>
</html>