@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>@ViewData["Title"] | Ludiflex</title>
</head>
<body>
<div class="login-box">
    <div class="login-header">
        <header>@ViewData["Title"]</header>
    </div>
    <div class="input-box">
        <p>
           Şifrenizi sıfırlamak için bir bağlantı maili gönderildi.
        </p>
    </div>
</div>
</body>
</html>