@page
@model SelectRole
@{
    ViewData["Title"] = "Select Your Role";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Select Role | Ludiflex</title>
    <style>
       body{
           background-color: rgba(245,242,235,25);}


       .container header {
           color:black;
     
           text-align: center;
           font-size: 2.5rem; /* Adjust size as needed */
           font-weight: bold;
           margin-bottom: 30px; /* Add some space below the header */
       }

        .card-deck {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
        }

        .card {
            width: 300px;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border: none;
            background-color: white; /* or any contrasting color */
            color: black;
            border-radius: 8px;
        }

        .card img {
            max-width: 100%;
            height: auto;
            margin-bottom: 15px;
        }

        .card-title {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        .card-text {
            font-size: 1rem;
            margin-bottom: 20px;
        }

        .btn {
            width: 100%;
            padding: 10px;
        }
       
    </style>
</head>
<body>
<div class="container">
 
        <header>Rolünü Seç</header>
    </div>
    <div class="card-deck">
        <div class="card text-center">
            <div class="card-body">
                <img src="~/Images/students_girl_boy.png" alt="Öğrenci Png" class="img-fluid">
                <h5 class="card-title">Öğrenci</h5>
                <p class="card-text">Öğrenci olarak kaydol.</p>
                <a href="@Url.Page("Register", new { role = "Öğrenci" })" class="btn btn-primary">Üye Ol</a>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <img src="~/Images/teacher.png" alt="Öğretmen Png" class="img-fluid">
                <h5 class="card-title">Öğretmen</h5>
                <p class="card-text">Öğretmen olarak kaydol.</p>
                <a href="@Url.Page("Register", new { role = "Öğretmen" })" class="btn btn-secondary">Üye Ol</a>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <img src="~/Images/parents.png" alt="Veli Png" class="img-fluid">
                <h5 class="card-title">Veli</h5>
                <p class="card-text">Veli olarak kaydol.</p>
                <a href="@Url.Page("Register", new { role = "Veli" })" class="btn btn-success">Üye Ol</a>
            </div>
        </div>
    </div>

</body>
</html>
